<div class="layout__footer">
    <p>The Favor Solutions Network is a project of SQGLZ. To support SQGLZ in designing solutions for community
        sovereignty, <a href="https://www.patreon.com/sqglz" target="_blank">become a patron on Patreon</a>.</p>

    <img class="layout__sqg" src="{{ '/sqglz.svg' | relative_url }}" alt="SQGLZ logo" nopin="nopin">

    <p><a href="https://calendly.com/deacon-rodda/favor">Ready to join the Favor Solutions Network?</a></p>

    <p>For more information, contact Deacon Rodda<br><a href="mailto:{{ site.email }}">{{ site.email }}</a><br><a
            href="sms:13035017244">(303) 501-7244</a></p>

</div><!-- FOOTER -->