/* ---------------------------------- NAV ----- */

.ui__nav {}

.ui__nav-item {
    text-decoration: none;
}

.ui__nav-item:not(:last-child) {
    border-right: 1px solid white;
    padding-right: .5rem;
    margin-right: .5rem;
}

.button {
    background-color: #601d46;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: .5em 1em;
    text-decoration: none;
}

.button:hover {
    background-color: #2e0b21;
}